[2019-04-20 17:05] Bercik1337 opened #1 "rutorrent duplicate plugin unpack"
Original version of script has problem with using all-plugins (option 47). Everything works just fine, just throws warning messages that these files already exist.

I'll fix it within version 0.2 or version 0.3

[2019-07-31 19:48] Bercik1337 commented on #1
Fixed in v0.3

[2019-07-31 19:48] #1 closed

[2019-08-18 19:34] Bercik1337 opened #2 "CentOS 7 support"
Can't make SCGI mount work.
Everything else is figured out, but rutorrent can't communicate with rtorrent without proper SCGI socket under apache2.

[2019-11-17 11:09] Lucif3r-MorningSter opened #3 "Feature Details"
Hi:
* Does this script support multi user?
* Does it have option for setting disk quota?

[2020-01-01 08:23] Bercik1337 commented on #3
@Lucif3r-MorningSter sorry for delay. Didn't get email about opened issue.

Not in wizard way, but you can always add other users post installation with htpasswd.

Also no, I spent some time to make it as easy to use as possible, quotas are used only on multi-user seedbox. So by default if someone does that - they know what they are doing.  Maybe in future I'll do that, but so far there are many o

[2020-01-16 13:46] LoneWanderer86 opened #4 "Add support for Manjaro 18"
Hi.
Great script! Can you please add support for Manjaro 18?

[2020-01-17 09:18] 4w3e opened #5 "Kontakt"
Cześć, można się z Tobą jakoś skontaktować przez maila lub gg? Jestem zielony w tych sprawach a mam kilka pytań :)

[2020-01-20 11:44] Bercik1337 commented on #5
Pisz tu.

[2020-01-20 11:53] Bercik1337 commented on #4
Thanks buddy.
I'll check it out, but _not_ soon.  Very busy with daily stuff. But if you use Manjaro on daily basis and know how to setup rt+rutorrent from scratch - then I can automate it **way** faster. I (and script) work with Debian based distros so it will be a lot of work to add something else here.

ALSO - manjaro looks like consumer grade distro, dedicated for home use. It's not the best c

[2020-01-20 12:37] 4w3e commented on #5
![fail](https://user-images.githubusercontent.com/59577343/72726965-fe3a1880-3b89-11ea-9f10-e6b311a1e0e6.png)

Takie coś mi wyskakuje ;(

[2020-01-20 12:50] Bercik1337 commented on #5
To nie wygląda jak świeża instalka systemu. Przeznaczenie jest aby to robić na czystym systemie bo takto nie wiadomo co kto grzebał i potem sie trzeba dwoić i troić o co chodzi.
Na szybko to pokaż
`cat /var/log/dpkg.log`

zrób też
[code]

a najlepiej to to po prostu zainstaluj na czystym systemie i się nie męcz.

[2020-01-20 13:10] 4w3e commented on #5
To jest postawione na VPS od hostsolutions.ro
W panelu serwera mam następujące systemy do zainstalowania:
centos7img |  centos8img |  debian10img |  ubuntu18img |  ubuntu1910img

później, spróbuję jeszcze raz postawić system, na nowo.
A wygląda to tak ponieważ łączę się przez ich VNCconsole, bo przez putty nie mogę się połączyć ;(

Jeszcze takie pytanie:
Podczas instalacji skrypt pyta o użytkownik

[2020-01-20 14:22] Bercik1337 commented on #5
Podczas kreatora jest napisane, że musisz to uruchomić z uprawnieniami admina (sudo lub jako root, obojętne) ale **należy podać konto lokalne tak aby rtorrent mógł chodzić na owym koncie**. Musisz mieć jednego zwykłego użytkownika na systemie.

[2020-01-20 19:07] 4w3e commented on #5
Po "postawieniu' nowego Ubuntu 18.04 wszystko ładnie przeszło :)
Tylko po przekopiowaniu ip rutorrent do przeglądarki, pyta mnie dane do logowania, próbowałem wszystkie możliwości pw użytkownika, którego stworzyłem, pw roota i nic, nie wiesz gdzie może być problem?
![pww](https://user-images.githubusercontent.com/59577343/72751626-64da2900-3bc0-11ea-8c7d-8350522187f7.jpg)

[2020-01-20 19:08] Bercik1337 commented on #5
podczas instalacji podajesz 1. nazwe kontalokalnego 2. login to rutorrenta, 3. hasło do rutorrenta, w tym oknie musisz podać te z punktu 2 i 3

[2020-01-20 19:13] 4w3e commented on #5
ok, jutro postawię jeszcze raz wszystko na nowo ;) dzięki wielkie za pomoc!!

[2020-01-20 19:16] #5 closed

[2020-02-05 21:20] #3 closed

[2020-02-06 16:44] skl283 opened #6 "Possible changes?"
Hey Bercik,

nice Script! Work very good! I have a question - is it possible to add/change support for:

- newest rTorrent (0.9.8) in Script is 0.9.7
- newest rutorrent (--> latest GIT-Version?)
- NGINX instead of apache

sash

[2020-03-09 13:45] Bercik1337 commented on #6
@skl283
Hey, sorry for late response:

    newest rTorrent (0.9.8) in Script is 0.9.7
This one is based on repository. So the moment newer version shows up, it will use it.

    newest rutorrent (--> latest GIT-Version?)
I'll take a look at it when I have some spare time. Hopefully it will work without problems. If I don't publish within 2 weeks you could ping me.

    NGINX instead of apache
In l

[2020-04-19 00:48] mjd119 opened #7 "Package 'libapache2-mod-scgi' has no installation candidate"
The script description says it is compatible with Debian 11 Bullseye, but it appears that the package "libapache2-mod-scgi" is only available in the sid and buster repositories. A note should be made about repositories to enable to ensure compatibility if this package has no equivalent in Debian 11 bullseye and can only be found in the sid or buster repositories. The script does not let me continu

[2020-04-25 16:16] Bercik1337 commented on #7
Thanks for noticing. You are correct it is not working anymore. Just tested in VM.

Yes it was, I tested it shortly before last commit.

They must've remove the package (temporarily or not). Fun fact - this same package is also gone in Ubuntu 20.04. I don't know if it's on purpose or not. I'm not a programmer so I'm unaware if this is a trend to remove it, or maybe there is a new generation/substi

[2020-08-26 19:25] Pingblue commented on #7
I just noticed this in Ubuntu 20.04 you can install in Ubuntu/Debian through the deb.

wget http://mirrors.kernel.org/ubuntu/pool/universe/s/scgi/libapache2-mod-scgi_1.13-1.1build1_amd64.deb
dpkg -i libapache2-mod-scgi_1.13-1.1build1_amd64.deb

[2020-08-26 20:45] Bercik1337 commented on #7
@Pingblue hey thanks for finding this out, last time I checked it wasn't in repo, but manual installation of deb pkg will also help (well as a workaround). I'll take a look at it after weekend.

[2020-09-04 17:02] Bercik1337 commented on #7
@Pingblue hey buddy. I just commited v0.8 with manual installation of .deb for scgi package. It works fine on my Ubuntu 20.04.1 VM. Lemme know if it works for you too.
If I have the time I'll look for deb packages for Debian 11 as well, this could (finally) bring back this functionality.

[2020-09-06 11:35] #7 closed

[2020-09-06 11:44] Bercik1337 commented on #6
@skl283 I added version 0.9.8 because it's available in repo for modern systems, see section: case $OSFINALNAME in (line 118) for details. Ubuntu 20.04 and Debian buster have newest rtorrent possible.

[2020-09-23 03:46] luckypackets opened #8 "debian 10 and rtorrent/rutorrent issues"
on debian 10, if rutorrent shows the error "No connection to rTorrent. Check if it is really running. Check $scgi_port and $scgi_host settings in config.php and scgi_port in rTorrent configuration file" or rtorrent shows the error "rtorrent: Could not open/bind port for listening: Address family not supported by protocol", a solution that seems to be working (for me so far at least) is to add:
bin

[2020-10-03 06:57] Bercik1337 commented on #8
@luckypackets hey, I just noticed this post. I will check it out after the weekend, because last time i tried it was working just fine under Debian10.
If it happens, then I'll update this config.
Have you tried this on many systems or just this one?

[2020-10-04 09:56] Bercik1337 commented on #8
@luckypackets I just checked quickly on VM for debian-10.6.0-amd64-netinst.iso  and there was absolutely no problem installing and running it. Do you use fresh installation?

[2020-10-12 17:57] luckypackets commented on #8
@Bercik1337 oh, hmmm. i did, let me try it again on a new vm using 10.6.0, hadn't come out yet so I was using 10.5.0, maybe something was fixed/changed in 10.6 :)

[2020-10-12 19:35] Bercik1337 commented on #8
@luckypackets I didn't change anything ;P remember everything must be used on fresh install of OS. If anything is tampered with, it can cause problems.

[2020-10-24 09:18] #8 closed

[2020-12-14 22:43] Bercik1337 commented on #2
CentOS distro is dropped.

[2020-12-14 22:43] #2 closed

[2021-01-05 10:26] greg811 commented on #6
I also have request to update rutorrent. Wersion 3.7 is quite old release.

[2021-01-05 10:46] Bercik1337 commented on #6
I see we even have 3.10 now. Gonna update it with next release.

[2021-02-15 19:51] #6 closed

[2021-03-26 06:11] BulldozerPete opened #9 "failed installation"
Hello,

I can run these commands on my raspberry pi:
[code]
but no script will start.
What am I doing wrong? Using raspiOS btw.

[2021-03-26 16:44] BulldozerPete commented on #9
Must have had a typo.
Works fine now.

[2021-03-26 16:44] #9 closed

[2021-06-24 09:22] vdias opened #10 "Why keep using TMUX/SCREEN?"
There is no need tu use this with rtorrent  anymore...

[2021-07-01 07:50] Bercik1337 commented on #10
@vdias  Please explain why is no longer needed.

[2021-07-05 04:12] bernid opened #11 "after installation on Ubuntu 21.04?"
Hi,
Thank you for the script. It makes life easier:)
Thanks to the script I've just installed rtorrent and rutorrent on my Ubuntu 21.04 in a minute.

However I have strange issue.
I would like to use mod-scgi so I switched off rpc and httprpc plugins and rutorrent stopped working.
See screen:
![screen](https://user-images.githubusercontent.com/1912477/124416212-c8292e00-dd56-11eb-859f-2e86fedb25c1

[2021-07-05 16:33] bernid commented on #11
Rutorrent is working now:)
I have to remove my old configuration (virtual host).

[2021-07-05 16:34] bernid commented on #11
Rutorrent is working now:)
I have to remove my old configuration (virtual host).

[2021-07-05 16:34] #11 closed

[2021-07-12 20:12] #10 closed

[2021-08-11 18:59] yotoprules opened #13 "Uninstall script / permissions issue"
Hi,
I installed this script, and it half-worked, but permissions were not assigned correctly, so I can't change any settings in the web ui, can't add any torrents, plugins aren't working, etc, and I can't figure out how to fix this manually.
If possible I would like this to be fixed, plus an uninstall script would be handy.
I uninstalled "rtorrent" and "apache2" but there is probably more stuff li

[2021-08-14 06:35] Bercik1337 commented on #13
Hey, what exactly do you mean by "half worked"?  No one ever reported problem. Did you use it on FRESH installation of the system?
Only files created are .rtorrent.rc in $HOME and apache config in /etc

[2021-08-14 13:08] yotoprules commented on #13
No it isn't a fresh install, I have other stuff on it, SSH, SFTP, Jellyfin, and other torrent clients.

By half working, I mean it installed, I can load rutorrent, but it won't load any of the plugins, I can't browse the filesystem or add any torrents, and changing any settings in the rutorrent WEB UI are not retained after restarting.

[2021-08-14 16:31] Bercik1337 commented on #13
Please try to run this in freshly installed VM and let me know if it works fine there.

[2021-08-19 20:47] yotoprules commented on #13
OK, I made a clean install of Lubuntu 21.04, updated it, then ran the script, rutorrent loads but I get these errors:
[https://i.ibb.co/MB9G94y/image.png](url)
and as you can see I cannot browse the filesystem via rutorrent, and any settings made in the rutorrent UI are not saved.

[2021-08-20 21:37] Bercik1337 commented on #13
Hey again
I tested quickly in 2 VMs and i confirm, there is a problem. They must've changed some package in repository because it didn't happen before.

I will look into it next week-ish (hopefully because I'm very busy)

[2021-08-21 11:10] Bercik1337 commented on #13
@yotoprules i got good news and bad news
NEWS
1. GOOD - found the problem. it's permissions on HOME folder in Lubuntu. This is not script fault.
2. BAD - I checked once more all other versions (ubuntus, different versions). It is ONLY Lubuntu that has different permissions. Script supports Ubuntu, not it's clones.  I'm aware that Lubuntu/Xubuntu and others are clones of Ubuntu, but as you can see

[2021-09-03 17:14] #13 closed

[2021-09-15 12:52] dinjojo opened #14 "Add support for lighttpd instead of Apache2"
Specifically for SBC lighttpd works well

[2021-09-18 21:47] Bercik1337 commented on #14
Thanks for info @dinjojo I'll check it out (no earlier than 2months though).
If you have some ready-to-ago configurations, don't hesitate to share :)

[2021-10-27 04:36] AlCan13 opened #15 "failure when user group <> login"
when script creates session directory it assumes, I guess that user primary group is same as user login.
in my case it is user is "alexey" group is "users"

her is output of the session.

--------------------------------------------------------
        Rtorrent + Rutorrent Auto Install
        Bercik https://github.com/Bercik1337
--------------------------------------------------------

 Script la

[2021-10-29 16:16] huttsMichael opened #16 "Original Script Origins?"
Hi, it's mentioned in the description that you took over the script from someone else. I believe I have that original version installed and am having trouble tracking down where exactly I got it from. Would anyone be able to link to the original script/author? I'm trying to figure out something related to it. Thanks!

[2021-10-29 18:38] huttsMichael commented on #16
Nevermind, finally found it. https://github.com/arakasi72/rtinst

[2021-10-29 18:39] #16 closed

[2021-11-09 21:34] Bercik1337 commented on #15
Hey, thanks for reporting. I'll check it out when i got some minutes to spare.

[2021-11-16 14:20] MikeShiner opened #17 "SCGI package not available for ARM systems"
Firstly, thanks for putting this together, looks great.

Currently running Ubuntu Server 20.04 LTS on my Raspberry Pi 4.

Script correctly identifies my system, but the SCGI package it manually installs is hardcoded to AMD arch.
I have a quick check on the server, and only AMD and i386 are available.

Do you know of an alternative for ARM based systems?

[2021-11-19 22:00] Bercik1337 commented on #17
@MikeShiner
Hey
I don't have access to RPI4 hardware, so I can't test if it will work, but try swapping link on line 495 to http://ftp.debian.org/debian/pool/main/s/scgi/libapache2-mod-scgi_1.13-1.1_arm64.deb

I doublechecked that RPI4 uses arm64, but ARMs are confusing to me, there are also other versions:
armel and armhf -> https://packages.debian.org/buster/libapache2-mod-scgi

But hopefully th

[2021-11-20 00:19] #15 closed

[2021-11-20 00:19] Bercik1337 commented on #15
Just pushed v1.1 where this problem is fixed. Enjoy using.

[2021-11-21 16:03] Bercik1337 commented on #17
It's line 502 now (recently updated). Look for function INSTALL_SCGI

[2021-11-29 05:45] AlCan13 commented on #15
Thanks for the fix!
the script is working now!

Alexey

On Fri, Nov 19, 2021 at 5:19 PM Bercik ***@***.***> wrote:

--
cheers,
++++++++++++++++++++++++++++++
Alexey Busov
http://ca.linkedin.com/in/alexeybusov

[2021-11-29 09:19] Bercik1337 commented on #16
@huttsMichael hey, i just noticed your post. Well it's incorrect, author was named Patrick Kerwood which is even mentioned in earler versions of my script (before 0.3). I have never seen rtinst by arakasi before.

[2021-12-17 21:57] pemaaaw opened #18 "cloudflare: Plugin will not work. Webserver user can't access external program (python)"

[2021-12-18 20:53] Bercik1337 commented on #18
You can remove plugin, it's not necessary. Both cloudflare and the other one for screenshot.

[2021-12-19 21:05] pemaaaw commented on #18
@Bercik1337 thanks for the reply but i need the screenshot plugin, i already do chmod 777 /var/www/rutorrent also restarting tmux session but nothing change, i still got an error plugin.

[2021-12-19 22:27] Bercik1337 commented on #18
@pemaaaw
apt install ffmpeg

[2021-12-25 07:33] pemaaaw commented on #18
thanks @Bercik1337

[2021-12-25 09:28] #18 closed

[2021-12-25 09:28] Bercik1337 commented on #18
done

[2021-12-28 21:24] ouzo12 opened #19 "wget is used inside script"
I only saw this beacuse i installed the script into a lxc container with out the wget installed.

wget is used inside script but not included as an dependency like curl in the script.

apt-get -y install apache2-utils unzip curl
should be
apt-get -y install apache2-utils unzip curl wget

so this lines will work.
wget http://mirrors.kernel.org/ubuntu/pool/universe/s/scgi/libapache2-mod-scgi_1.13-1.

[2022-01-02 11:31] Bercik1337 commented on #19
Hey,
hm first time i see system without without wget, but fine - i'll add it just anyone else has the same problem. Nearest commit

[2022-01-16 18:16] #19 closed

[2022-02-17 17:09] g0r3 opened #20 "Some dependecies are missing - WAD?"
Hi,

I used your install script on Ubuntu 20.04 and it worked out great. But what I noticed is that it does not install all the dependencies rutorrent seems to expect. I manually had to install `ffmpeg` and `sox`. And the one thing I cannot get resolved is the rutorrent UI complaining about `cloudflare plugin: cloudscraper module can't be loaded in Python.` No matter where and how I installed the

[2022-02-18 18:16] caseybekey commented on #17
So, just wanted to add to it that http://mirrors.edge.kernel.org/ubuntu/pool/universe/s/scgi/ has i386.deb as well. so changing that worked for me.
So that could be a possible change in the script.

[2022-02-19 08:53] g0r3 commented on #20
Hi,
i got everything working but the cloudflare plugin. It just does not pick up the python package. Also importing the package manually in the python interpreter does not work (but which is not your concern). I ended up just deleting the plugin since I don't seem to need it. Thanks for your help.

[2022-02-19 10:23] Bercik1337 commented on #20
No problemo. Enjoy

[2022-02-19 10:23] #20 closed

[2022-02-19 12:12] Bercik1337 commented on #17
@caseybekey hey, thx for info, any chance you could prepare the code and push it? i'll see and accept
just please remember to add some kind of check step to verify if we're x86_64 or i386. because by default it assumes 64 bit

thanks!

[2022-02-19 23:19] xxtensazenxx opened #21 "Failed to start rtorrent-init.service: Unit rtorrent-init.service not found."
Just did a fresh install and the .service file is not working. When I try to run service rtorrent-init start is errors out with "Failed to start rtorrent-init.service: Unit rtorrent-init.service not found."

[2022-02-22 20:18] Bercik1337 commented on #21
what system? distro name and version
please also give full log from installation, maybe there's an error message somewhere there

if possible reinstall OS and restart the script to gather all this data

[2022-03-03 05:45] ceadd opened #22 "uninstall script"
hi
script worked great, thank you but i need to reverse it and remove rutorrent.
hopefully this isnt a dumb question but i tried manually removing a few packages found in the script and rtorrent kept on running. anyways i can get some advice on how to remove this?

[2022-03-03 09:41] Bercik1337 commented on #22
yes, all you have to do is remove all packages installed by script and manually delete "rutorrent" itself (it's in /var/www/rutorrent)
remember to STOP all services before you proceed (apache2, rtorrent) because Linux allows uninstalling stuff while you run it .

Tell me if it helped.

[2022-03-07 09:05] Bercik1337 commented on #21
@xxtensazenxx please respond or i'll close the issue in let's say 2 days

[2022-03-07 09:05] Bercik1337 commented on #22
@ceadd any update?

[2022-03-11 12:26] Bercik1337 commented on #22
No response. Closing.

[2022-03-11 12:26] #22 closed

[2022-03-11 12:26] Bercik1337 commented on #21
No response. Closing.

[2022-03-11 12:26] #21 closed

[2022-04-08 17:24] rpgdev opened #23 "Add Fedora to the TODO"
Would love to have Fedora support on this.

[2022-04-09 08:02] iammike2 opened #24 "Plugins not dowloading"
From the following function

[code]

Getting a 502 Bad Gateway on download!!

[2022-04-17 08:29] Bercik1337 commented on #24
Hey, they disabled site. Let me take care of this. Hopefully i have those plugins offline somewhere.

[2022-04-17 09:04] Bercik1337 commented on #24
Fixed version coming right up! it's self hosted so @iammike2  it should never go down again

[2022-04-17 09:05] #24 closed

[2022-04-17 11:33] Bercik1337 commented on #23
Hey @rpgdev thanks for posting.
Unfortunately fedora is not .deb based distribution. To modify script it's not just a matter of changing APT to YUM, a lot of things needs to be changed. A LOT.
I'm not saying no, it's just don't expect this to happen anytime soon. Unless someone will participate, I simply don't have time to rediscover alternate distribution tree.

I'm marking this as help wanted, s

[2022-04-17 15:05] rpgdev commented on #23
@Bercik1337 fair enough, thank you for taking the time to explain what stands in the way of addressing it.

[2022-05-26 14:44] auburncodingclub opened #25 "can not use root as user in install"
You may wish to echo an alert for those (of us) silly enough to try to use root as a user (rather than / in addition to the echo about user privileges..).

Thank you for all of your hard work!!!!

[2022-05-28 19:37] Bercik1337 commented on #25
@auburncodingclub hey man. I've spent some time thinking about it, was about to make it today but... 1. it's not that easy 2. i'm not sure if it's all that good idea.

Whenever we use sudo, it changes our uid to 0, therefore programs see this as root user. (whoami and others). I was planning to edit CHECK_ROOT function or  SET_RTORRENT_USER but in both cases, we MUST see uid=0, that's what's this

[2022-05-31 11:26] MorphyDK opened #26 "Installation dies on Hetzner servers with IPv6"
--2022-05-31 11:24:27--  http://mirrors.kernel.org/ubuntu/pool/universe/s/scgi/libapache2-mod-scgi_1.13-1.1build1_amd64.deb
Resolving mirrors.kernel.org (mirrors.kernel.org)... 2604:1380:45e3:2400::1, 139.178.88.99
Connecting to mirrors.kernel.org (mirrors.kernel.org)|2604:1380:45e3:2400::1|:80...

Dont complete the installation.

[2022-05-31 11:32] MorphyDK commented on #14
@Bercik1337

Any support for NGINX as well? :)

[2022-05-31 12:00] Bercik1337 commented on #26
@MorphyDK any chance this server is non-amd64? Like arm or something>

[2022-05-31 12:02] MorphyDK commented on #26
Hmm good question @Bercik1337

Its cloudbased VPS .. I typically use them to test out systems ( which Havent been an problem before :) )

[2022-05-31 12:10] Bercik1337 commented on #26
Paste me the
`uname -a`

[2022-05-31 12:11] Bercik1337 commented on #14
Possible, but this is another not-a-five-minute-change. And with two jobs, i have my hands full. So again possible, but don't expect to be done soon.

[2022-05-31 12:18] MorphyDK commented on #26
Linux ubuntu-2gb-hel1-1 5.4.0-110-generic #124-Ubuntu SMP Thu Apr 14 19:46:19 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

[2022-05-31 12:25] Bercik1337 commented on #26
Try to manually get this file from CLI
`wget http://mirrors.kernel.org/ubuntu/pool/universe/s/scgi/libapache2-mod-scgi_1.13-1.1build1_amd64.deb`

Also what error did you get during installation? You pasted what it's about to do (download the file) but not what was the actual error.

[2022-05-31 12:27] MorphyDK commented on #26
Well it show me to another site ( redirected ) but none of the sites actually started to download.  :/

[2022-05-31 12:29] MorphyDK commented on #26
--2022-05-31 14:29:37--  http://mirrors.kernel.org/ubuntu/pool/universe/s/scgi/libapache2-mod-scgi_1.13-1.1build1_amd64.de
Resolving mirrors.kernel.org (mirrors.kernel.org)... 139.178.88.99, 2604:1380:45e3:2400::1
Connecting to mirrors.kernel.org (mirrors.kernel.org)|139.178.88.99|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: http://mirrors.edge.kernel.o

[2022-05-31 12:31] MorphyDK commented on #26
Just tried on another server - hmm works fine on my local ubuntu server.. Kinda odd!

[2022-05-31 12:31] Bercik1337 commented on #26
Maybe they (hetzner) is blocking or doing something on purpose. I just downloaded this deb file without any problem on my computer.
You can manually upload this file (SCP) and install it with dpkg. Comment out lines in script for installation and that's it.
BUT
I assume you don't know how to proceed, but I won't be able to help without even access to some this system. Also hetzner is not the best

[2022-05-31 12:32] Bercik1337 commented on #26
It's not odd, it's hetzner fault for this mumbo-jumbo redirect. Not mine.

[2022-05-31 12:35] MorphyDK commented on #26
Nothing downloaded

Info

 wget --max-redirect=0 http://mirrors.kernel.org/ubuntu/pool/universe/s/scgi/libapache2-mod-scgi_1.13-1.1build1_amd64.deb
--2022-05-31 14:34:31--  http://mirrors.kernel.org/ubuntu/pool/universe/s/scgi/libapache2-mod-scgi_1.13-1.1build1_amd64.deb
Resolving mirrors.kernel.org (mirrors.kernel.org)... 139.178.88.99, 2604:1380:45e3:2400::1
Connecting to mirrors.kernel.org (mir

[2022-05-31 12:37] Bercik1337 commented on #26
Ok, so as you can see, it desepratly wants to redirect you for some weird reason.
Option A) pick another cloud solution, or local one.
Option B) follow instruction for manual installation of .deb package - but there's a chance if there's a problem with this package, there might be another error in 3min for something else.

Note do self, don't use Hetzner.

[2022-05-31 12:43] Bercik1337 commented on #26
but the entire script, works locally?

[2022-05-31 12:47] Bercik1337 commented on #26
Then spin up a new VM, or livecd. I can asure you it works.

Remember, VPS uses templates that are not fresh installs. Also they may be doing weird stuff, like blocking, redirects (as above) and much more.

[2022-05-31 12:48] MorphyDK commented on #26
Cheers @Bercik1337

Trying a fresh spin up later :) - thanks for your fast replies.

[2022-06-02 11:29] Bercik1337 commented on #26
any news?

[2022-06-02 12:43] MorphyDK commented on #26
Sorry no. Work ;)

[2022-06-04 20:17] #25 closed

[2022-06-06 23:13] Pehaspe opened #27 "Linux Mint 5 "LMDE" install"
First of all, thanks for your work. It gives an error during installation. Can you adapt it for Linux Mint 5 "LMDE"?

[2022-06-12 14:56] #26 closed

[2022-06-15 08:31] vdias opened #28 "Errors..."
Script finished without errors, but on first rutorrent login we have some errors...

_[15.06.2022 10:27:38] WebUI started.
[15.06.2022 10:27:38] _cloudflare: Plugin will not work. Webserver user can't access external program (python).
[15.06.2022 10:27:38] screenshots: Plugin will not work. rTorrent user can't access external program (ffmpeg).
[15.06.2022 10:27:38] spectrogram: Plugin will not wor

[2022-06-15 23:30] Bercik1337 commented on #28
the cloudflare, screenshots and spectrogram errors are normal, you can disable the plugin in "Plugins" tab
i didn't remove them because someone may want to use it, therefore you need to install those programs with apt

as for JS error, first time I see - what distro is this?

[2022-06-15 23:31] Bercik1337 commented on #27
I'll take a look at it no earlier than next weekend.

[2022-06-17 10:56] Pehaspe commented on #27
thanks mate

[2022-06-19 20:42] #27 closed

[2022-06-21 15:50] Bercik1337 commented on #28
@vdias ping

[2022-06-27 19:39] #28 closed

[2022-08-16 20:31] Whoffie commented on #17
Can confirm this works for my RPI4 on Ubuntu 22.04, will this be implemented into the script?

[2022-09-02 13:18] MorphyDK opened #29 "How to stop/restart/update/upgrade rutorrent?"
Hi Bercik1337

How to we start/stop/restart/update/upgrade manually?

Is it me or am I missing the info ? :)

Which ini files loads the plugins?

/var/www/rutorrent/conf/plugins.ini is empty , but all plugins are loaded .

Would be great to have an update function like this one https://github.com/arakasi72/rtinst

[2022-09-02 17:59] Bercik1337 commented on #17
thanks for input buddy, i'll try to update this this/next weekend
as you can see, i lack free time, but if it works then I trust you and just update code. I have nowhere to run it.

[2022-09-02 18:00] Bercik1337 commented on #29
@MorphyDK  rutorrent it's just a zip file of php and some other website related files. You can get new version and unpack it into /var/www/rutorrent
that's it, no hardcore configuration needed

[2022-09-02 21:34] MorphyDK commented on #29
@Bercik1337 how to start/stop it ? :)

[2022-09-03 08:58] Bercik1337 commented on #29
You only care about rtorrent service. rutorrent is under apache2

systemctl stop rtorrent
systemctl stop apache2
and so on

[2022-09-03 09:07] MorphyDK commented on #29
Cheers :)

Thanks for the fast reply

[2022-09-03 09:39] #29 closed

[2022-09-11 19:26] Bercik1337 commented on #17
@Whoffie good news and bad news:
Good is i just pushed commit
Bad is i also rolled it back

It's actually little more complex than I thought.  With Raspbian it's easy, because it's only for raspberry, but I'd need another function for Ubuntu/Debian to check if it's ARM or x86 system.
In theory I could do it without hardware, but it's like blindfolded surgery.

Until I get my hands on Rpi (or remot

[2022-10-06 00:26] DaaNMaGeDDoN opened #30 "UID < 1000 for system user"
I just created a system account (Debian bullseye "useradd -r") before i found your script, however it expects a UID > 1000, which doesn't make sense because you refer to the account as a system account.

I heave not checked why this is a requirement, might be for setting it up the way you did maybe, but i just happen to have read this https://askubuntu.com/questions/523949/what-is-a-system-group-a

[2022-10-07 20:08] tbennett6421 opened #31 "Feature request: deploy using HTTPS"
I will see if I can add a PR to add the functionality, but anyone using a seedbox not locally should be accessing rutorrent over TLS in order to avoid traffic snooping to sniff the credentials.

[2022-10-07 21:46] tbennett6421 commented on #31
I added #32. I don't know the best way to handle this, but I highly recommend asking the user if they wish to set a servername for apache. Then if so, you collect the servername.

This will allow you to use the server name later in the vhost configuration, and if you choose to add lets-encrypt support. I just added the servername to my local copy.

[2022-10-07 21:48] tbennett6421 commented on #31
I would also recommend you disable port 80, or redirect automatically to 443. We really don't want people to be using plain-text comms for internet hosts. Just my 2cents.

[2022-10-07 21:53] tbennett6421 commented on #31
For reference, my config
[code]

[2022-10-09 11:14] Bercik1337 commented on #30
@DaaNMaGeDDoN this check was present in the original script (before i took it over).

After giving it some thought, I'd rather stay with "normal" user UID.
It's not like service account is "more powerful" or something, but benefit of having current check is: when newbie will create user account user wizard or something, it will work.  Additionally having "users" group could provide read access for

[2022-10-09 11:19] Bercik1337 commented on #31
@tbennett6421 thanks buddy for input. I'll take a look at it ASAP, it's jut this will be in weeks time (superbusy).
SSL is something I had on my TODO for quite some time (actually you can see it in TODO :sweat_smile:  )

Just out of curiosity, any change you'd manage to create another PR for Let's Encrypt instead of self-signed?

[2022-10-10 17:13] tbennett6421 commented on #31
If I have time I will, I will probably be working on converting this to an ansible-playbook as most of the ansible playbooks on the internet are not actively being supported.

I'm far better with ansible then just with straight bash, and it makes idempotency fairly easy.

[2022-10-11 00:04] DaaNMaGeDDoN commented on #30
And their own account is probably just ID 1000, often the first user account created. So, yeah it will prevent them from probably using their own account, however since i wanted to actually use a (prepared) system account (UID<1000), i couldn't.  Maybe just check if the ID is not equal to 1000 (or 0 of course) and don't call it a system account, just "an account"?
Anyway i forgot to thank you for

[2022-10-14 20:54] Bercik1337 commented on #30
@DaaNMaGeDDoN  function SET_RTORRENT_USER does that. It checks if it's root (not allowed), it check if it even exist (must be valid account), and
`elif [[ $(cat /etc/passwd | grep "^$RTORRENT_USER:" | cut -d: -f3) -lt 999 ]]; then`

This ALLOWS user with uid 1000 to be used :)

So if my understanding is correct you could pretty much change 999 to 1 and your problem is solved. I'll try to test it w

[2022-10-15 21:50] Bercik1337 commented on #31
Done, merged it, but i made small changes
1. Bring back original DocumentRoot
2. Changed age of cert
3. Made it automatically reply cert config question (noobs would got confused, and it wouldn't be automatic no more)

Always in a hurry, so I tested it only on a single system (Mint) but it should be fine for all :crossed_fingers:

Thanks for your input.

[2022-10-15 22:12] #31 closed

[2022-10-16 10:26] Bercik1337 commented on #30
Just implemented the change. I hope you will enjoy :)

[2022-10-16 10:27] #30 closed

[2022-10-16 13:45] DaaNMaGeDDoN commented on #30
Cheers, sorry i was busy too, if i wasn't i would gladly have tested your change, thanks again (hope i don't re-open this with commenting). I really need to get more xp using github, i bet i could have helped you by offering some kind of patch, bit lazy from my end, kudos to you!

[2022-10-24 20:45] myloginforgithub commented on #17
It's not working on armhf, dude

[2022-10-24 21:12] Whoffie commented on #17
I can’t speak for armhf, Raspberry Pi 4 uses arm64.

On Mon, Oct 24, 2022 at 3:45 PM myloginforgithub ***@***.***>
wrote:

[2022-10-25 07:34] Bercik1337 commented on #17
@myloginforgithub and @Whoffie  i think i got an idea on how to solve the problem (make it automatic)
But you must participate: please paste  `/etc/os-release` and `lscpu` here. I don't have modern Raspberry pi hardware so I need your setup. This should be enough to "simulate" other platform.

[2022-10-25 07:55] myloginforgithub commented on #17
@Bercik1337
os-release:
`PRETTY_NAME="Debian GNU/Linux 11 (bullseye)"
NAME="Debian GNU/Linux"
VERSION_ID="11"
VERSION="11 (bullseye)"
VERSION_CODENAME=bullseye
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"
BUG_REPORT_URL="https://bugs.debian.org/"`
and lscpu:
`Architecture:                    armv7l
Byte Order:                      Little Endian
CPU(s):

[2022-10-25 09:38] Bercik1337 commented on #17
@myloginforgithub sorry for my silly question but I'm not good with ARMs - is armv71 the same as armhf? or these are two different architectures?

[2022-10-25 09:48] myloginforgithub commented on #17
@Bercik1337, i don't know too. But this is output of requested commands. During installation of SCGI package was error about  "armhf". Where i can found logs with that?
I'm already use `rtinst` instead of your script.

[2022-10-25 09:51] Bercik1337 commented on #17
If i'm lucky I'll fix it this weekend. But to be REALLY sure if it works. Some of you need to run it - as i still don't have modern Raspberry pi.
Gonna update this thread when it's done.

[2022-10-27 22:25] Whoffie commented on #17
They look to be the same per this link

https://stackoverflow.com/questions/37790029/what-is-difference-between-arm64-and-armhf

[2022-11-06 23:10] terrorindeed opened #33 "Rutorrent not reading rtorrent"
I just upgraded ubuntu 20.04.5 LTS to 22.04.1 LTS. I reran rt-auto-minimal and it auto detected 22.04.1.

Now when accessing rutorrent, no torrents are loaded, and I get various errors.

[06.11.2022 16:08:16] JS error: [http://192.168.1.99/rutorrent/js/webui.js : 765] Uncaught TypeError: Cannot read properties of undefined (reading 'rTorrent')
[06.11.2022 16:08:26] JS error: [http://192.168.1.99/r

[2022-11-10 21:01] Bercik1337 commented on #33
You shouldn't rerun installation. Just upgrade OS.
@terrorindeed please install fresh OS and try again then.

[2022-11-11 00:01] terrorindeed commented on #33
Thanks @Bercik1337. Im running a VM and using rclone mount to google drive for seeding via vfs-write, so I've had to re cache the entire 43TB of data, lol. I was hoping to avoid that, but its nearly done.

[2022-11-11 07:02] Bercik1337 commented on #33
@terrorindeed if it's a VM couldn't you just roll back snapshot after upgrade and then figure out a way to what went wrong?
And sorry for late replies but i'm very busy unfortunately ;(

[2022-11-11 12:51] #33 closed

[2022-11-17 09:56] koko666999 opened #34 "Some Plugins not work"
[17.11.2022 13:23:48] WebUI started.
[17.11.2022 13:23:48] _cloudflare: Plugin will not work. Webserver user can't access external program (python).
[17.11.2022 13:23:49] screenshots: Plugin will not work. rTorrent user can't access external program (ffmpeg).
[17.11.2022 13:23:49] spectrogram: Plugin will not work. rTorrent user can't access external program (sox).

[2022-11-19 20:40] terrorindeed opened #35 "The request to rTorrent has timed out."
When adding Torrents, labelling exisiting torrents and a few other common tasks, I get this error.
When looking at the log, this error pops up every 20 minutes on que.

Thoughts?

Ubuntu Server 22.04.1 LTS

[2022-11-22 14:17] Bercik1337 commented on #34
hey @koko666999
this is not a problem. i intentionally left those plugins in case anyone wants it. but I don't install python ffmpeg and sox because it takes a lot of space. You can either:
- install those packages yourself
- ignore them
- or simply disable them in rutorrent (go to plugins tab and rightclick, select disabled)

[2022-11-22 14:17] #34 closed

[2022-11-22 14:20] Bercik1337 commented on #35
See `systemctl status rtorrent` if your rt has restarted or something like that. If yes, that's a problem with rtorrent itself.
If it didn't restart it's something between you and rutorrent. Is this local installation, other computer on same network or remote VPS?

[2022-11-22 15:15] terrorindeed commented on #35
I checked systemctl , Rtorrent hasn’t restarted.
This is a local install on dedicated VM. Accessed via local network . Of note, my torrents are from a mounted rclone folder (google drive).
For example, I cannot navigate to the folder, rutorrent cannot see it. I manually type in /home/tcd/crypt/xxxxxxx/ , force recheck and begin seeding. This vm is a seeding only rtorrent instance.

[2022-11-23 08:56] Bercik1337 commented on #35
try setting up another VM but with LOCAL storage instead of google drive. we'll see if that's the reason. I could see possibility that latency between the two could cause some problems.

[2022-11-23 14:38] terrorindeed commented on #35
I have a few more dedicated VM’s as well with local only storage that suffer the same issue.

[2022-11-29 19:13] terrorindeed commented on #35
This is has escalated to the point where rutorrent cannot see rtorrent (it is running / active).
No connection to rTorrent. Check if it is really running. Check $scgi_port and $scgi_host settings in config.php and scgi_port in rTorrent configuration file.

Both files have been checked and verified. No changes have been made.
The details on this VM are Ubuntu 22.04.1 LTS, up to date. Php 8.1
I'm gu

[2022-11-30 11:18] Bercik1337 commented on #35
I'll setup VM this weekend. I doubt it's 22.04.1 release fault, other people would report that too. There must be something specific about your system. In touch

[2022-11-30 19:50] terrorindeed commented on #35
I cloned an earlier version of one of my VM's. Ubuntu 20.04 LTS, I spun it up earlier this moring and I'm rebuilding it as we speak. Adding 20 torrents at a time. I'm still getting the request to rtorrent has timed out, but the connection seems to re-establish right away.

Force recheck is working and I'm haven't seen the error 'No connection to rTorrent. Check if it is really running. Check $scgi